<section class="auth_content">
  <div class="auth_wrapper">
    <div class="tab_auth">
      <span class="active"
        ><i class="ion-android-funnel"></i>
        <h1>Ingresar</h1></span
      ><span>
        <i class="ion-android-list"></i>
        <h1>Registrarse</h1></span
      >
    </div>
    <div class="auth_form">
      <div class="auth_sign active">
        <form>
          <div class="field">
            <label>Correo Electrónico:</label
            ><input type="email" value="jcarlos@hotmail.com" />
          </div>
          <div class="field">
            <label>Contraseña:</label><input type="password" value="123456" />
          </div>
          <div class="button_auth">
            <button type="submit">
              Ingresar<i class="ion-android-done"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="auth_sign">
        <form>
          <div class="field">
            <label>Nombres:</label><input type="text" value="Jose Carlos" />
          </div>
          <div class="field">
            <label>Apellidos:</label><input type="text" value="Garcia Ramirez" />
          </div>
          <div class="field">
            <label>Correo Electrónico:</label
            ><input type="email" value="jcarlos@hotmail.com" />
          </div>
          <div class="field">
            <label>Contraseña:</label><input type="password" value="123456" />
          </div>
          <div class="field">
            <label>Telefono:</label><input type="text" value="971432982" />
          </div>
          <div class="field">
            <label>Locación:</label><input type="text" value="Huanuco" />
          </div>
          <div class="button_auth">
            <button type="submit">
              Registrar<i class="ion-android-done"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
