<section class="admin_section">
  <div class="admin_content">
    {% include menu_admin.html%}
    <section class="chart_section">
      <div class="chart_top_section">
        <div class="guia_content">
          <h1>Tu top categorias</h1>
          <div class="result">
            <div class="number">
              <div class="color c1"></div>
              <div class="percentage">
                <h3>50%</h3>
                <p>Smartphones</p>
              </div>
            </div>
            <div class="number">
              <div class="color c2"></div>
              <div class="percentage">
                <h3>20%</h3>
                <p>MacBook</p>
              </div>
            </div>
            <div class="number">
              <div class="color c3"></div>
              <div class="percentage">
                <h3>30%</h3>
                <p>Otros</p>
              </div>
            </div>
          </div>
        </div>
        <div class="chart_content"><canvas id="myChart"></canvas></div>
        <div class="number_overall">
          <div class="number_overall_content">
            <div class="number_sale">
              <h2>venta total</h2>
              <h1>S/. 14.000</h1>
            </div>
            <div class="line"><span class="l1"></span></div>
          </div>
          <div class="number_overall_content">
            <div class="number_sale">
              <h2>venta semanal</h2>
              <h1>S/. 7.000</h1>
            </div>
            <div class="line"><span class="l2"></span></div>
          </div>
          <div class="number_overall_content">
            <div class="number_sale">
              <h2>venta hoy</h2>
              <h1>S/. 2.000</h1>
            </div>
            <div class="line"><span class="l3"></span></div>
          </div>
          <div class="number_overall_content">
            <div class="product_sale_count">
              <i class="fa fa-paper-plane"></i>
              <h3>300</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="table_section">
      <div class="table_order">
        <h4>Estado de pedidos</h4>
        <table id="table_pedidos" class="detalle_producto">
          <tr>
            <th><h1>Pedido</h1></th>
            <th><h1>Estado</h1></th>
            <th><h1>Fecha</h1></th>
            <th><h1>Accion</h1></th>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s2">Pendiente</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"> </i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s3">Enviado</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s3">Enviado</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"> </i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"> </i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s2">Pendiente</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"> </i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
          <tr class="item">
            <td><h2>MacBook Pro</h2></td>
            <td><h2 class="status s1">Completo</h2></td>
            <td><h2>2 Agosto, 2017</h2></td>
            <td>
              <a href="#"><i class="ion-trash-a"></i></a
              ><a href="#"><i class="ion-edit"></i></a>
            </td>
          </tr>
        </table>
      </div>
      <div class="table_users">
        <h4>Nuevos Usuarios</h4>
        <ul class="list_users">
          <li>
            <div class="user">
              <img
                src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                width="40"
              />
              <div class="info">
                <div class="name">Omar Benjamin</div>
                <div class="email">benjaminomar34@gmail.com</div>
              </div>
            </div>
            <div class="profile_btn">
              <a href="#">Perfil </a><i class="fa fa-user"> </i>
            </div>
          </li>
          <li>
            <div class="user">
              <img
                src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                width="40"
              />
              <div class="info">
                <div class="name">Jose Carlos</div>
                <div class="email">jc_01@gmail.com</div>
              </div>
            </div>
            <div class="profile_btn">
              <a href="#">Perfil </a><i class="fa fa-user"> </i>
            </div>
          </li>
          <li>
            <div class="user">
              <img
                src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                width="40"
              />
              <div class="info">
                <div class="name">Jessica Monica</div>
                <div class="email">jessM@gmail.com</div>
              </div>
            </div>
            <div class="profile_btn">
              <a href="#">Perfil </a><i class="fa fa-user"> </i>
            </div>
          </li>
          <li>
            <div class="user">
              <img
                src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                width="40"
              />
              <div class="info">
                <div class="name">Juan Roberto</div>
                <div class="email">jose_rob@gmail.com</div>
              </div>
            </div>
            <div class="profile_btn">
              <a href="#">Perfil </a><i class="fa fa-user"> </i>
            </div>
          </li>
          <li>
            <div class="user">
              <img
                src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                width="40"
              />
              <div class="info">
                <div class="name">Augusto Jose</div>
                <div class="email">ajose@gmail.com</div>
              </div>
            </div>
            <div class="profile_btn">
              <a href="#">Perfil </a><i class="fa fa-user"> </i>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
