<section class="admin_section">
  <div class="admin_content">
    {% include menu_admin.html%}
    <section class="inbox_section">
      <div class="tabs_inbox">
        <div class="tab_wrapper active">
          <i class="fa fa-envelope-open-o"></i>
          <h2>Pendientes</h2>
        </div>
        <div class="tab_wrapper">
          <i class="fa fa-envelope-o"> </i>
          <h2>Completos</h2>
        </div>
        <div class="tab_wrapper">
          <i class="fa fa-trash-o"> </i>
          <h2>Eliminados</h2>
        </div>
      </div>
      <div class="inbox_pedidos">
        <div class="pedidos_wrapper active">
          <table id="table_inbox">
            <tr>
              <th><h1>ID produtos</h1></th>
              <th><h1>usuario</h1></th>
              <th><h1>Monto</h1></th>
              <th><h1>fecha</h1></th>
              <th><h1>lugar</h1></th>
              <th><h1>Accion</h1></th>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>MBP20170346</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="pedidos_wrapper">
          <table>
            <tr>
              <th><h1>ID produtos</h1></th>
              <th><h1>usuario</h1></th>
              <th><h1>Monto</h1></th>
              <th><h1>fecha</h1></th>
              <th><h1>lugar</h1></th>
              <th><h1>Accion</h1></th>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="pedidos_wrapper">
          <table>
            <tr>
              <th><h1>ID produtos</h1></th>
              <th><h1>usuario</h1></th>
              <th><h1>Monto</h1></th>
              <th><h1>fecha</h1></th>
              <th><h1>lugar</h1></th>
              <th><h1>Accion</h1></th>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.3000.00</h2></td>
              <td><h2>2 Noviembre, 2017</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>IPP20171030</h2></td>
              <td>
                <div class="user">
                  <img
                    src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>S/.2500.00</h2></td>
              <td><h2>10 Octubre, 2017</h2></td>
              <td><h2>Tingo Maria, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-android-refresh"></i></a
                ><a href="#"><i class="ion-clipboard"> </i></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
</section>
