<section class="admin_section">
  <div class="admin_content">
    {% include menu_admin.html%}
    <section class="messages_section">
      <div class="list_messages">
        <div class="list_messages_users">
          <div class="new_message_users">
            <div class="message_box active">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Jose Carlos</h2>
                  <div class="name_status">
                    <span class="s2"></span><small>online</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Jose Carlos</h2>
                  <div class="name_status">
                    <span class="s2"></span><small>online</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Jose Carlos</h2>
                  <div class="name_status">
                    <span class="s2"></span><small>online</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Juan Roberto</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Juan Roberto</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Juan Roberto</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Juan Roberto</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Augusto Jose</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Augusto Jose</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Augusto Jose</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
            <div class="message_box">
              <div class="user">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="40"
                />
                <div class="status">
                  <h2>Augusto Jose</h2>
                  <div class="name_status">
                    <span class="s1"></span><small>offline</small>
                  </div>
                </div>
              </div>
              <div class="message_body">
                <h3>Animi, ipsam voluptas praesentium...</h3>
              </div>
              <div class="date_send"><h4>5:30 pm</h4></div>
              <div class="message_setting">
                <i class="fa fa-ellipsis-v"> </i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat_current">
        <div class="chat_header">
          <div class="user">
            <img
              src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
              width="35"
            />
            <div class="status">
              <h2>Jose Carlos</h2>
              <div class="name_status">
                <span class="s2"></span><small>online</small>
              </div>
            </div>
          </div>
          <div class="chat_setting">
            <i class="fa fa-cog"></i><i class="fa fa-user"></i>
          </div>
        </div>
        <div class="chat_current_messages">
          <div class="messages_wrapper">
            <div class="bubble bubble_client">Hola</div>
            <div class="bubble bubble_admin">hola que desea saber?</div>
            <div class="bubble bubble_client">cual es precio de...</div>
            <div class="bubble bubble_client">hola</div>
            <div class="bubble bubble_admin">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum
              cumque aspernatur molestiae!
            </div>
            <div class="bubble bubble_client">cual es precio de...</div>
            <div class="bubble bubble_client">hola</div>
            <div class="bubble bubble_client">
              provident quam, dignissimos sit similique illo, dicta ipsa
              veritatis debitis consectetur, voluptatum eius eveniet. Ducimus
              quae, recusandae magnam?
            </div>
            <div class="bubble bubble_client">cual es precio de...</div>
            <div class="bubble bubble_client">Hola</div>
            <div class="bubble bubble_admin">hola que desea saber?</div>
            <div class="bubble bubble_client">cual es precio de...</div>
            <div class="bubble bubble_client">hola</div>
            <div class="bubble bubble_admin">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum
              cumque aspernatur molestiae!
            </div>
            <div class="bubble bubble_client">cual es precio de...</div>
            <div class="bubble bubble_client">hola</div>
            <div class="bubble bubble_client">
              provident quam, dignissimos sit similique illo, dicta ipsa
              veritatis debitis consectetur, voluptatum eius eveniet. Ducimus
              quae, recusandae magnam?
            </div>
            <div class="bubble bubble_client">cual es precio de...</div>
          </div>
        </div>
        <div class="chat_input_messages">
          <textarea
            placeholder="Escriba su respuesta..."
            class="input_messages"
          ></textarea
          ><button class="send_response">
            <h2>Responder</h2>
            <i class="fa fa-paper-plane"> </i>
          </button>
        </div>
      </div>
    </section>
  </div>
</section>
