<section class="products_info_content">
  <div class="products_info_wrapper">
    <div class="tab_wrapper">
      <div class="tab_wrapper_content">
        <aside class="tab active"><h2>Caracteristicas</h2></aside>
        <aside class="tab"><h2>Especificaciones</h2></aside>
        <aside class="tab"><h2>Comentarios</h2></aside>
      </div>
      <div class="add-content"><i class="fa fa-plus"> </i></div>
    </div>
    <div class="info_content">
      <div class="info_wrapper">
        <div class="info_products active">
          <div class="info_products_char">
            <div class="title_char">
              <i class="ion-wifi"></i>
              <h2>WIFI</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque labore sit aliquid? Velit.
            </p>
          </div>
          <div class="info_products_char">
            <div class="title_char">
              <i class="ion-camera"></i>
              <h2>CAMARA</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque labore sit aliquid? Velit.
            </p>
          </div>
          <div class="info_products_char">
            <div class="title_char">
              <i class="ion-bluetooth"></i>
              <h2>bluetooth</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque labore sit aliquid? Velit.
            </p>
          </div>
          <div class="info_products_char">
            <div class="title_char">
              <i class="ion-mic-a"></i>
              <h2>microfono</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque labore sit aliquid? Velit.
            </p>
          </div>
          <div class="info_products_char">
            <div class="title_char">
              <i class="ion-flash-off"></i>
              <h2>flash</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque labore sit aliquid? Velit.
            </p>
          </div>
          <div class="info_products_char">
            <div class="title_char">
              <i class="ion-map"></i>
              <h2>GPS</h2>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloremque labore sit aliquid? Velit.
            </p>
          </div>
        </div>
        <div class="info_products">
          <table id="char_table">
            <tr class="item">
              <td width="120"><h2>Procesador</h2></td>
              <td><h3>Intel® Celeron® Processor N3060 1.60GHZ</h3></td>
            </tr>
            <tr class="item">
              <td width="120"><h2>Procesador</h2></td>
              <td><h3>Intel® Celeron® Processor N3060 1.60GHZ</h3></td>
            </tr>
            <tr class="item">
              <td width="120"><h2>Procesador</h2></td>
              <td><h3>Intel® Celeron® Processor N3060 1.60GHZ</h3></td>
            </tr>
            <tr class="item">
              <td width="120"><h2>Procesador</h2></td>
              <td><h3>Intel® Celeron® Processor N3060 1.60GHZ</h3></td>
            </tr>
            <tr class="item">
              <td width="120"><h2>Procesador</h2></td>
              <td><h3>Intel® Celeron® Processor N3060 1.60GHZ</h3></td>
            </tr>
          </table>
        </div>
        <div class="info_products">
          <div class="valoracion_wrapper">
            <div class="comment_wrapper">
              <div class="commet_box">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="45"
                /><textarea
                  placeholder="Escribe tu opinion a cerca del producto..."
                ></textarea>
              </div>
              <div class="commet_content">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="30"
                />
                <div class="comment">
                  <div class="name">
                    <h2>usuario 0</h2>
                    <a href="#"><i class="fa fa-ellipsis-h"></i></a>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quas amet obcaecati laudantium a numquam sed sint soluta
                    facere. Ipsum, doloremque molestias ratione tenetur, dolorum
                    minus doloribus unde possimus quo officiis!
                  </p>
                </div>
              </div>
              <div class="commet_content">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="30"
                />
                <div class="comment">
                  <div class="name">
                    <h2>usuario 1</h2>
                    <a href="#"><i class="fa fa-ellipsis-h"></i></a>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quas amet obcaecati laudantium a numquam sed sint soluta
                    facere. Ipsum, doloremque molestias ratione tenetur, dolorum
                    minus doloribus unde possimus quo officiis!
                  </p>
                </div>
              </div>
              <div class="commet_content">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="30"
                />
                <div class="comment">
                  <div class="name">
                    <h2>usuario 2</h2>
                    <a href="#"><i class="fa fa-ellipsis-h"></i></a>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quas amet obcaecati laudantium a numquam sed sint soluta
                    facere. Ipsum, doloremque molestias ratione tenetur, dolorum
                    minus doloribus unde possimus quo officiis!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
