<section class="profile_section">
  <div class="panel_title">
    <h2>Configuración de Usuario</h2>
    <div class="save">
      <a id="see-car" href="#">Guardar</a><i class="ion-lock-combination"></i>
    </div>
  </div>
  <div class="profile_wrapper">
    <div class="tabs">
      <ul>
        <li class="active">
          <i class="ion-android-happy"></i>
          <h1>Personal</h1>
        </li>
        <li>
          <i class="ion-bag"></i>
          <h1>Compras</h1>
        </li>
        <li>
          <i class="ion-android-options"></i>
          <h1>Cuenta</h1>
        </li>
      </ul>
    </div>
    <div class="tabs_content">
      <div class="tabs_content_profile active">
        <div class="tabs_wrapper_profile">
          <form>
            <div class="top_form">
              <div class="image">
                <img
                  src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                  width="150"
                  height="150"
                />
              </div>
              <div class="main-field">
                <div class="field">
                  <label>Nombres:</label
                  ><input type="text" value="Jose Carlos" />
                </div>
                <div class="field">
                  <label>Apellidos:</label
                  ><input type="text" value="Garcia Ramirez" />
                </div>
              </div>
            </div>
            <div class="field">
              <label>Correo Electrónico:</label
              ><input type="email" value="jcarlos@hotmail.com" />
            </div>
            <div class="field">
              <label>Telefono:</label><input type="text" value="971122982" />
            </div>
            <div class="field">
              <label>Locación:</label><input type="text" value="Huanuco" />
            </div>
          </form>
        </div>
      </div>
      <div class="tabs_content_profile">
        <div class="tabs_wrapper_profile">
          <table id="table_story" class="table_story">
            <tr>
              <th><h1>Producto</h1></th>
              <th><h1>Precio Unidad</h1></th>
              <th><h1>Precio</h1></th>
              <th><h1>Detalle</h1></th>
            </tr>
            <tr class="item">
              <td>
                <div class="item_content">
                  <img src="assets/img/product2.jpg" width="35" />
                  <div class="product_name">
                    <h2>Apple MacBook Pro</h2>
                    <small>completada <i class="ion-android-done"></i></small>
                  </div>
                </div>
              </td>
              <td><h2>S/. 3000.00</h2></td>
              <td><h2>S/. 3000.00</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"></i></a>
              </td>
            </tr>
            <tr class="item">
              <td>
                <div class="item_content">
                  <img src="assets/img/product3.jpg" width="35" />
                  <div class="product_name">
                    <h2>Apple MacBook Pro</h2>
                    <small>completada <i class="ion-android-done"></i></small>
                  </div>
                </div>
              </td>
              <td><h2>S/. 3000.00</h2></td>
              <td><h2>S/. 3000.00</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"></i></a>
              </td>
            </tr>
            <tr class="item">
              <td>
                <div class="item_content">
                  <img src="assets/img/product4.jpg" width="35" />
                  <div class="product_name">
                    <h2>Apple MacBook Pro</h2>
                    <small>completada <i class="ion-android-done"></i></small>
                  </div>
                </div>
              </td>
              <td><h2>S/. 3000.00</h2></td>
              <td><h2>S/. 3000.00</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"></i></a>
              </td>
            </tr>
            <tr class="item">
              <td>
                <div class="item_content">
                  <img src="assets/img/product5.jpg" width="35" />
                  <div class="product_name">
                    <h2>Apple MacBook Pro</h2>
                    <small>completada <i class="ion-android-done"></i></small>
                  </div>
                </div>
              </td>
              <td><h2>S/. 3000.00</h2></td>
              <td><h2>S/. 3000.00</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"></i></a>
              </td>
            </tr>
            <tr class="item">
              <td>
                <div class="item_content">
                  <img src="assets/img/product6.jpg" width="35" />
                  <div class="product_name">
                    <h2>Apple MacBook Pro</h2>
                    <small>completada <i class="ion-android-done"></i></small>
                  </div>
                </div>
              </td>
              <td><h2>S/. 3000.00</h2></td>
              <td><h2>S/. 3000.00</h2></td>
              <td>
                <a href="#"><i class="ion-clipboard"></i></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="tabs_content_profile">
        <div class="tabs_wrapper_profile">
          <form>
            <div class="field">
              <label>Categorias de interes:</label
              ><input type="text" id="select_prefer" readonly="true" />{%
              include select.html %}
            </div>
            <div class="box_check">
              <label class="custom_checkbox_wrapper"
                ><label class="custom_checkbox"
                  ><input type="checkbox"/><i class="ion-android-checkbox"></i
                  ><i class="ion-android-checkbox-outline-blank"></i
                ></label>
                <h2>
                  Recibir notificaciones al correo electronico sobre nuevos
                  producto que puedan ser de mi interes.
                </h2></label
              >
            </div>
          </form>
          <form>
            <div class="field">
              <label>Contraseña:</label><input type="password" />
            </div>
            <div class="field">
              <label>Nueva Contraseña:</label><input type="password" />
            </div>
            <div class="field">
              <label>Verificar Contraseña:</label><input type="password" />
            </div>
            <div class="delete_account">
              <a href="#">Eliminar mi cuenta </a><i class="ion-nuclear"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
