<section class="admin_section">
  <div class="admin_content">
    {% include menu_admin.html%}
    <section class="users_section">
      <div class="tabs_users">
        <div class="tab_wrapper two_tabs active">
          <i class="fa fa-users"></i>
          <h2>Usuarios</h2>
        </div>
        <div class="tab_wrapper two_tabs">
          <i class="fa fa-plus"> </i>
          <h2>Nuevo</h2>
        </div>
      </div>
      <div class="list_users">
        <div class="list_users_wrapper active">
          <table>
            <tr>
              <th><h1>ID Usuario</h1></th>
              <th><h1>usuario</h1></th>
              <th><h1>email</h1></th>
              <th><h1>telefono</h1></th>
              <th><h1>Locacion</h1></th>
              <th><h1>Accion</h1></th>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
            <tr class="item">
              <td><h2>US000200</h2></td>
              <td>
                <div class="user">
                  <img
                    src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    width="40"
                  />
                  <h2>Jose Carlos</h2>
                </div>
              </td>
              <td><h2>jcarlos@hotmail.com</h2></td>
              <td><h2>971123982</h2></td>
              <td><h2>Amarilis, Huanuco</h2></td>
              <td>
                <a href="#"><i class="ion-trash-a"></i></a
                ><a href="#"><i class="ion-edit"></i></a
                ><a href="#"><i class="ion-paper-airplane"> </i></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="list_users_wrapper">
          <div class="new_user">
            <div class="new_user_wrapper">
              <form>
                <div class="field">
                  <label>Nombres:</label
                  ><input type="text" value="Jose Carlos" />
                </div>
                <div class="field">
                  <label>Apellidos:</label
                  ><input type="text" value="Garcia Ramirez" />
                </div>
                <div class="field">
                  <label>Correo Electrónico:</label
                  ><input type="email" value="jcarlos@hotmail.com" />
                </div>
                <div class="field_inline">
                  <div class="field">
                    <label>Contraseña:</label
                    ><input type="password" value="123456" />
                  </div>
                  <div class="field">
                    <label>Confirma Contraseña :</label
                    ><input type="password" value="123456" />
                  </div>
                </div>
                <div class="field">
                  <label>Telefono:</label
                  ><input type="text" value="971123982" />
                </div>
                <div class="field">
                  <label>Locación:</label><input type="text" value="Huanuco" />
                </div>
                <div class="field load_file">
                  <label>Imagen Perfil</label
                  ><input
                    id="file-7"
                    type="file"
                    name="nombre_archivo"
                    required="required"
                    data-multiple-caption="{count} archivos seleccionados"
                    multiple="true"
                    class="inputfile inputfile-6"
                  /><label for="file-7" class="file-content"
                    ><span></span
                    ><strong><i class="fa fa-file-image-o"> </i></strong
                  ></label>
                </div>
                <div class="button_auth">
                  <button type="submit">
                    Registrar<i class="ion-android-done"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
