section.auth_content
 .auth_wrapper
    .tab_auth
      span.active
        i.ion-android-funnel
        h1 Ingresar
      span 
        i.ion-android-list
        h1 Registrarse
    .auth_form
      .auth_sign.active
        form
          .field
            label Correo Electrónico:
            input(type="email" value="benjamin0mar@hotmail.com")    
          .field
            label Contraseña:
            input(type="password" value="123456") 
          .button_auth
            button(type="submit") Ingresar
              i.ion-android-done
      .auth_sign  
        form
          .field
            label Nombres:
            input(type="text" value="Omar Benjamin")
          .field
            label Apellidos:
            input(type="text" value="Chagua Ramos") 
          .field
            label Correo Electrónico:
            input(type="email" value="benjamin0mar@hotmail.com")    
          .field
            label Contraseña:
            input(type="password" value="123456") 
          .field
            label Telefono:
            input(type="text" value="971755982") 
          .field
            label Locación:
            input(type="text" value="Amarilis")   
          .button_auth
            button(type="submit") Registrar
              i.ion-android-done
