section.admin_section
  .admin_content
    {% include menu_admin.html%}  
    section.chart_section
      .chart_top_section
        .guia_content
          h1 Tu top categorias
          .result
            .number
              .color.c1
              .percentage
                h3 50%
                p Smartphones
            .number
              .color.c2
              .percentage
                h3 20%
                p MacBook
            .number
              .color.c3
              .percentage
                h3 30%
                p Otros  
        .chart_content
          canvas(id="myChart")
        .number_overall   
          .number_overall_content
            .number_sale
              h2 venta total
              h1 S/. 14.000
            .line
              span.l1
              
          .number_overall_content
            .number_sale
              h2 venta semanal
              h1 S/. 7.000
            .line
              span.l2
                
          .number_overall_content
            .number_sale
              h2 venta hoy
              h1 S/. 2.000
            .line
              span.l3
                
          .number_overall_content
            .product_sale_count
              i.fa.fa-paper-plane
              h3 300  
             
    section.table_section
      .table_order
        h4 Estado de pedidos
        table.detalle_producto#table_pedidos
          tr
            th
              h1 Pedido
            th
              h1 Estado
            th
              h1 Fecha
            th               
              h1 Accion
          tr.item
            td
              h2 MacBook Pro                
            td
              h2.status.s2 Pendiente
            td
              h2 2 Agosto, 2017
            td
              a(href="#")
                i.ion-trash-a
              a(href="#")
                i.ion-edit  
          tr.item
            td
              h2 MacBook Pro                
            td
              h2.status.s3 Enviado   
            td
              h2 2 Agosto, 2017
            td
              a(href="#")
                i.ion-trash-a
              a(href="#")
                i.ion-edit
          tr.item
            td
              h2 MacBook Pro                
            td
              h2.status.s3 Enviado   
            td
              h2 2 Agosto, 2017
            td
              a(href="#")
                i.ion-trash-a
              a(href="#")
                i.ion-edit            
          tr.item
            td
              h2 MacBook Pro                
            td
              h2.status.s1 Completo  
            td
              h2 2 Agosto, 2017
            td
              a(href="#")
                i.ion-trash-a
              a(href="#")
                i.ion-edit    
          
          tr.item
            td
              h2 MacBook Pro                
            td
              h2.status.s2 Pendiente
            td
              h2 2 Agosto, 2017
            td
              a(href="#")
                i.ion-trash-a
              a(href="#")
                i.ion-edit
                        
          tr.item
            td
              h2 MacBook Pro                
            td
              h2.status.s1 Completo  
            td
              h2 2 Agosto, 2017
            td
              a(href="#")
                i.ion-trash-a
              a(href="#")
                i.ion-edit   
          - for (var i = 0; i < 20; i++) {
            tr.item
              td
                h2 MacBook Pro                
              td
                h2.status.s1 Completo  
              td
                h2 2 Agosto, 2017
              td
                a(href="#")
                  i.ion-trash-a
                a(href="#")
                  i.ion-edit
          - }      
                   
      .table_users
        h4 Nuevos Usuarios        
        ul.list_users
          li 
            .user
              img(src="https://images.unsplash.com/profile-fb-1485649729-9ad6da0a8efc.jpg?crop=faces&cs=tinysrgb&fit=crop&fm=jpg&h=150&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=150", width="40")
              .info
                .name Omar Benjamin
                .email  benjaminomar34@gmail.com
            .profile_btn  
              a(href="#") Perfil 
              i.fa.fa-user 
          li 
            .user
              img(src="http://www.xsjjys.com/data/out/96/WHDQ-512397052.jpg", width="40")
              .info
                .name Jose Carlos
                .email  jc_01@gmail.com
            .profile_btn  
              a(href="#") Perfil 
              i.fa.fa-user 
          li 
            .user
              img(src="http://www.xsjjys.com/data/out/96/WHDQ-512397393.jpg", width="40")
              .info
                .name Jessica Monica
                .email  jessM@gmail.com
            .profile_btn  
              a(href="#") Perfil 
              i.fa.fa-user     
                  
          li 
            .user
              img(src="http://www.xsjjys.com/data/out/96/WHDQ-512397056.jpg", width="40")
              .info
                .name Juan Roberto
                .email  jose_rob@gmail.com
            .profile_btn  
              a(href="#") Perfil 
              i.fa.fa-user 
          li 
            .user
              img(src="http://www.xsjjys.com/data/out/96/WHDQ-512397485.jpg", width="40")
              .info
                .name Augusto Jose
                .email  ajose@gmail.com
            .profile_btn  
              a(href="#") Perfil 
              i.fa.fa-user     
    
