footer
  .footer-wrapper
    //- .logo
    //-   h1  e-store 
    .social
      .icons
        i.ion-social-facebook
        i.ion-social-twitter
        i.ion-social-youtube
        i.ion-social-instagram
            
        
