#menu-dark
.menu-options
  ul 
    li
      i.ion-ios-home
      a(href="/") Inicio
    li
      i.ion-ios-infinite
      a(href="/") Marcas
    li
      i.ion-ios-box
      a(href="/") productos  
    li
      i.ion-ios-pricetags
      a(href="/") Ofertas  
    li
      i.ion-ios-list
      a(href="/") Contacto
    li
      i.ion-ios-help
      a(href="/admin") Soporte
    li  
      .sign_up
        a(href="/autentificacion") Registrarse
        i.ion-android-list
header
  nav.top-menu
    .dropdown#search_menu
      .list_category
        ul
          .tip
          li
            label.custom_checkbox_wrapper
              label.custom_checkbox
                input(type="checkbox")
                i.ion-android-checkbox
                i.ion-android-checkbox-outline-blank
              h2 Laptop
              span 1800   
          li
            label.custom_checkbox_wrapper
              label.custom_checkbox
                input(type="checkbox")
                i.ion-android-checkbox
                i.ion-android-checkbox-outline-blank
              h2 desktop
              span 2300 
          li
            label.custom_checkbox_wrapper
              label.custom_checkbox
                input(type="checkbox")
                i.ion-android-checkbox
                i.ion-android-checkbox-outline-blank
              h2 Tablet
              span 1300 
          li
            label.custom_checkbox_wrapper
              label.custom_checkbox
                input(type="checkbox")
                i.ion-android-checkbox
                i.ion-android-checkbox-outline-blank
              h2 Smartphone
              span 2100  
          li
            label.custom_checkbox_wrapper
              label.custom_checkbox
                input(type="checkbox")
                i.ion-android-checkbox
                i.ion-android-checkbox-outline-blank
              h2 Musica
              span 1500          
      i.ion-android-arrow-dropdown
      span#show_search_category Categoria
    .line-separator    
    .search-field
      i.ion-search  
      input(placeholder="Buscar")
    .logo
      span 
        a(href="/") e-store
    .user-img
      a(href="/perfil")
        img(src="https://images.unsplash.com/profile-fb-1485649729-9ad6da0a8efc.jpg?crop=faces&cs=tinysrgb&fit=crop&fm=jpg&h=150&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=150" width="30")
    .car
      .list-productos
        ul
          .tip
          li
            .info-item 
              img(src="assets/img/product2.jpg" width="45") 
              small x2
              span Apple MacBook Pro 
            .price S/. 4500
          li
            .info-item 
              img(src="assets/img/product3.jpg" width="45") 
              small x1
              span Ipod Touch 6
            .price S/. 2500
          li
            .info-item 
              img(src="assets/img/product4.jpg" width="45") 
              small x2
              span Ipad Air 2
            .price S/. 1200
          li
            .info-item 
              img(src="assets/img/product5.jpg" width="45") 
              small x4
              span Apple MacBook Pro  
            .price S/. 5500
          li
            .info-item 
              img(src="assets/img/product6.jpg" width="45") 
              small x4
              span Apple MacBook Pro  
            .price S/. 5500  
          li.footer-car
            //- .subtotal
            //-   h2 Subtotal
            //-   p S/. 10000
            .pay
              a#see-car(href="/carrito") Comprar
              i.fa.fa-shopping-bag
      i.ion-android-cart 
        .number-productos 4
        
    .menu-icon   
      i
      span Menu
      
