nav.menu_admin_section
  .menu_admin_wrapper
    ul
      li.icons_menu_admin
        a(href="/admin")  
          span
            i.fa.fa-th
      li.icons_menu_admin
        a(href="/pedidos")
          span
            i.fa.fa-inbox
      li.icons_menu_admin
        a(href="/oferta")  
          span    
            i.fa.fa-tags
      li.icons_menu_admin    
        a(href="/productos")  
          span   
            i.fa.fa-cubes
      li.icons_menu_admin
        a(href="/usuarios")  
          span   
            i.fa.fa-users
      li.icons_menu_admin
        a(href="/mensajes")  
          span    
            i.fa.fa-comments
        

  
