.list_select
  ul
    .tip
    li
      label.custom_checkbox_wrapper
        label.custom_checkbox
          input(type="checkbox" class="select_item" name="laptop")
          i.ion-android-checkbox
          i.ion-android-checkbox-outline-blank
        h2 laptop
        span 1800   
    li
      label.custom_checkbox_wrapper
        label.custom_checkbox
          input(type="checkbox" class="select_item" name="desktop")
          i.ion-android-checkbox
          i.ion-android-checkbox-outline-blank
        h2 desktop
        span 2300 
    li
      label.custom_checkbox_wrapper
        label.custom_checkbox
          input(type="checkbox" class="select_item" name="tablet")
          i.ion-android-checkbox
          i.ion-android-checkbox-outline-blank
        h2 tablet
        span 1300 
    li
      label.custom_checkbox_wrapper
        label.custom_checkbox
          input(type="checkbox" class="select_item" name="smartphone")
          i.ion-android-checkbox
          i.ion-android-checkbox-outline-blank
        h2 smartphone
        span 2100  
    li
      label.custom_checkbox_wrapper
        label.custom_checkbox
          input(type="checkbox" class="select_item" name="musica")
          i.ion-android-checkbox
          i.ion-android-checkbox-outline-blank
        h2 musica
        span 1500        
