nav.slide-menu
  .btn-control.left
    i.ion-chevron-left
  .btn-control.right
    i.ion-chevron-right  
  aside.new-products
    .new-products-wrapper
      .product.color1
        .product-wrapper
          img(src="assets/img/offer_1.jpg")
          .content
            h2.name Apple MacBook Pro
            .power  
              i.ion-wifi
              i.ion-camera
              i.ion-wifi
              i.ion-camera
            .offer_number -25%   
            .price 
              h3 s/. 4800
              h3 s/. 5000
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod similique quis dolores eos at quia.
            a.see-more(href="/producto") Ver Producto
      .product.color2
        .product-wrapper
          img(src="assets/img/offer_2.jpg")
          .content
            h2.name Apple MacBook Pro
            .power  
              i.ion-wifi
              i.ion-camera
              i.ion-wifi
              i.ion-camera
            .offer_number -20%   
            .price 
              h3 s/. 4800
              h3 s/. 5000
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod similique quis dolores eos at quia.
            a.see-more(href="/producto") Ver Producto
    
      .product.color3
        .product-wrapper
          img(src="assets/img/offer_3.jpg")
          .content
            h2.name Apple MacBook Pro
            .power  
              i.ion-wifi
              i.ion-camera
              i.ion-wifi
              i.ion-camera
            .offer_number -5%   
            .price 
              h3 s/. 4800
              h3 s/. 5000
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod similique quis dolores eos at quia.
            a.see-more(href="/producto") Ver Producto  
      .product.color4
        .product-wrapper
          img(src="assets/img/offer_4.jpg")
          .content
            h2.name Apple MacBook Pro
            .power  
              i.ion-wifi
              i.ion-camera
              i.ion-wifi
              i.ion-camera
            .offer_number -10%   
            .price 
              h3 s/. 4800
              h3 s/. 5000
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod similique quis dolores eos at quia.
            a.see-more(href="/producto") Ver Producto
      .product.color5
        .product-wrapper
          img(src="assets/img/offer_5.jpg")
          .content
            h2.name Apple MacBook Pro
            .power  
              i.ion-wifi
              i.ion-camera
              i.ion-wifi
              i.ion-camera
            .offer_number -20%   
            .price 
              h3 s/. 4800
              h3 s/. 5000
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod similique quis dolores eos at quia.
            a.see-more(href="/producto") Ver Producto    
      .product.color6
        .product-wrapper
          img(src="assets/img/offer_1.jpg")
          .content
            h2.name Apple MacBook Pro
            .power  
              i.ion-wifi
              i.ion-camera
              i.ion-wifi
              i.ion-camera
            .offer_number -20%   
            .price 
              h3 s/. 4800
              h3 s/. 5000
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod similique quis dolores eos at quia.
            a.see-more(href="/producto") Ver Producto        
      .more-products
        a(href="/ofertas")
          h2 Más Ofertas       
          i.ion-bag
